<div class="row" style="border-width: 2px; border-bottom-style: solid">
    <div class="col" style="border-right-width: 2px; border-right-style: solid;">
        ARMOR CLASS:
        {{characterInfo.getArmorClass()}}
    </div>
    <div class="col" style="border-right-width: 2px; border-right-style: solid;">
        MAX HP:
        {{characterInfo.getMaxHp()}}
        <br>
        CURRENT HP:
        {{characterInfo.getCurrentHp()}}
        <br>
        TEMP HP:
        {{characterInfo.getTempHp()}}
    </div>
    <div class="col">
        INITIATIVE:
        +{{characterInfo.getInitiative()}}
        SPEED:
        {{characterInfo.getSpeed()}} ft.
    </div>
</div>
<div class="row separator">
    <div class="col" style="border-right-width: 2px; border-right-style: solid;">
        PASSIVE WISDOM:
        {{characterInfo.getPassiveWisdom()}}
    </div>
    <div class="col" style="border-right-width: 2px; border-right-style: solid;">
        HIT DICE:
        {{characterInfo.getHitDice()}}
    </div>
    <div class="col" style="border-right-width: 2px; border-right-style: solid;">
        DEATH SAVES:
        <div class="container">
            <div class="row">
                <p>Successes:</p> <input style="margin-left: 3%" type="radio" value="success"><input type="radio" value="success"><input type="radio" value="success">
            </div>
            <div class="row">
               <p>Failures: </p>  <input style="margin-left: 3%" type="radio" value="failures"><input type="radio" value="failures"><input type="radio" value="failures">
            </div>
        </div>
        <!-- Make DeathSaves Box -->
    </div>
    <div class="col">
        INSPIRATION:
        <br>
        <input type="checkbox" value="inspired">
    </div>
</div>
