<!-- Armor Class, Health, Initiative/Speed -->
<div class="row" style="border-width: 2px; border-bottom-style: solid;">
    <!-- AC -->
    <div class="col container center" style="border-right-width: 2px; border-right-style: solid;">
        <div>
            ARMOR CLASS:
            <br>
            <fa-layers [fixedWidth]="true" style="font-size: 70px;">
                <fa-icon [icon]="faShield" size="lg" style="color:darkgrey"></fa-icon>
                <fa-layers-text content="{{characterInfo.getArmorClass()}}" transform="shrink-8"></fa-layers-text>
            </fa-layers>
            
        </div>
    </div>
    <!-- Max HP -->
    <div class="col container center">
        <div>
            MAX HP:
            <br>
            {{characterInfo.getMaxHp()}}
        </div>
    </div>
    <!-- Current Hp -->
    <div class="col container center">
        <div>
            CURRENT HP:
            <br>
            <fa-layers [fixedWidth]="true" style="font-size: 70px;">
                <fa-icon [icon]="faHeart" size="lg"></fa-icon>
                <fa-layers-text content="{{characterInfo.getCurrentHp()}}" transform="shrink-8"></fa-layers-text>
            </fa-layers>
            <br>
            <input class="Hp" type="number" id="healthAdjust" value="healthAdjustment" placeholder="0" [(ngModel)]="healthAdjustment">
            <button class="harm d-inline" (click)="harm()">Harm  </button><button class="heal d-inline" (click)="heal()">  Heal</button>
        </div>
    </div>
    <!-- Temp Hp -->
    <div class="col container center" style="border-right-width: 2px; border-right-style: solid;">
        <div>
            TEMP HP:
            <br>
            <input class="Hp" type="number" id="tempHp" value="{{characterInfo.getTempHp()}}" placeholder="{{characterInfo.getTempHp()}}" (change)="changeTempHp()" [(ngModel)]="tempHp">
        </div>
    </div>
    <!-- Initiative/speed -->
    <div class="col container center">
        <div>
            INITIATIVE:
            <span *ngIf="characterInfo.getInitiative()<0">{{characterInfo.getInitiative()}}</span>
            <span *ngIf="characterInfo.getInitiative()>0">+{{characterInfo.getInitiative()}}</span>
            <span *ngIf="characterInfo.getInitiative()==0">+{{characterInfo.getInitiative()}}</span>
            <br>
            SPEED:
            {{characterInfo.getSpeed()}} ft.
        </div>
    </div>
</div>


<!-- Armor Class, Health, Initiative/Speed -->
<div class="row separator">
    <!-- Passive wisdom -->
    <div class="col container center" style="border-right-width: 2px; border-right-style: solid;">
        <div>
            PASSIVE WISDOM:
            <br>
            {{characterInfo.getPassiveWisdom()}}
        </div>
    </div>
    <!-- hit dice -->
    <div class="col container center"  style="border-right-width: 2px; border-right-style: solid;">
        <div>
            HIT DICE:
            <br>
            <div class="container box">
                d{{characterInfo.getHitDice()}}
            </div>
        </div>
    </div>
    <!-- death saves -->
    <div class="col-4 container center" style="border-right-width: 2px; border-right-style: solid;">
        <div>
            DEATH SAVES:
            <div class="box" style="font-size: medium; border-radius: 7%;">

                    <p class="d-inline">Successes:</p> <input style="margin-left: 3%" type="checkbox" value="success" (change)="changeSuccess($event)"><input class="d-inline" type="checkbox"
                        value="success"(change)="changeSuccess($event)"><input type="checkbox" value="success" (change)="changeSuccess($event)">


                    <p class="d-inline">Failures: </p> <input class="d-inline" style="margin-left: 3%" type="checkbox" value="failures" (change)="changeFailure($event)"><input type="checkbox"
                        value="failures" (change)="changeFailure($event)"><input type="checkbox" value="failures" (change)="changeFailure($event)">
                    
                    <p *ngIf="dead" style="font-size: large; color: red;">You Are Dead!!!</p>

            </div>
            
            <!-- Make DeathSaves Box -->
        </div>
    </div>
    <!-- Inspiration -->
    <div class="col container center">
        <div>
            INSPIRATION:
            <br>
            <input class="checkbox" type="checkbox" value="inspired" (change)="toggleInspired($event)">
        </div>
    </div>
</div>
