<div class="row" style="border-width: 2px; border-bottom-style: solid">
    <div class="col" style="border-right-width: 2px; border-right-style: solid;">
        ARMOR CLASS:
        {{characterInfo.getArmorClass()}}
    </div>
    <div class="col" style="border-right-width: 2px; border-right-style: solid;">
        MAX HP:
        {{characterInfo.getMaxHp()}}
        <br>
        CURRENT HP:
        {{characterInfo.getCurrentHp()}}
        <br>
        TEMP HP:
        {{characterInfo.getTempHp()}}
    </div>
    <div class="col">
        INITIATIVE:
        +{{characterInfo.getInitiative()}}
        SPEED:
        {{characterInfo.getSpeed()}} ft.
    </div>
</div>
<div class="row separator">
    <div class="col" style="border-right-width: 2px; border-right-style: solid;">
        PASSIVE WISDOM:
        {{characterInfo.getPassiveWisdom()}}
    </div>
    <div class="col" style="border-right-width: 2px; border-right-style: solid;">
        HIT DICE:
        {{characterInfo.getHitDice()}}
    </div>
    <div class="col" style="border-right-width: 2px; border-right-style: solid;">
        DEATH SAVES:
        <!-- Make DeathSaves Box -->
    </div>
    <div class="col">
        INSPIRATION:
        <!-- Make Checkbox -->
    </div>
</div>
