
<!-- Header Row -->
<div class="row p-0 bottomLine">
    <div class="col cell">
        <h2>Weapon Name</h2>
    </div>
    <div class="midCell">
        <h2>Attack Bonus</h2>
    </div>
    <div class="col-3 cell">
        <h2>Damage</h2>
    </div>
</div>


<!-- Weapons List -->
<!-- Will need to *ngFor this row for the amount of added items -->
<div class="row p-0 bottomLine">
    <div class="col cell" style="padding-left: 20px;">
        <span>Weapon Name</span> 
    </div>
    <div class="midCell">
        <span style="float: right;">+ X</span>
    </div>
    <div class="col-3 cell">
        <span>DX + X | Type</span>
    </div>
</div>


<!-- Button to Add Weapon -->
<div class="row p-3 separator">
    <button>Equip Weapon</button>
</div>