<div class="bg">

  <div class="container-fluid w-75 pt-5 pb-5">
    <!-- List characters owned by user -->
    <ul *ngFor="let character of characters">
      <li>{{character.getName()}}</li>
    </ul>
  </div>

  <div class="container-fluid w-75 pt-5 pb-5">
    <!-- Popup Tutorial -->
    <mat-card class="card1">
      <mat-card-header>
        <mat-card-title>
          <h1>Create A Character!</h1>
        </mat-card-title>
      </mat-card-header>
      <hr>
      <mat-card-content>
        <button mat-raised-button (click)="openDialog()">Create</button>
        <hr>
        <p>
          On this page, in the future, I will want to put a login screen for players
          or DMs, so people will be able to view/create their characters there. 
        </p>  
      </mat-card-content>
    </mat-card>
    <!-- End Popup Tutorial -->
  </div>
</div>