<div>
    <h1>What are you good at?</h1>
    <hr>
    <mat-dialog-content>
        <p>Pick some skills that you want to be proficient in. </p> 
    <hr>
    <br>

    <!-- list of checkboxes buttons -->
    <ul *ngFor="let skill of requirements.skills">
        <label for="skill"><input type="checkbox" (change)="checkLimit($event, checkbox)">      {{skill}}  </label>
    </ul>

    <!-- example of how to grab data -->
    <!-- <strong> {{data.role}}  </strong> -->
    </mat-dialog-content>

    <hr>


    <mat-dialog-actions>
        <button mat-raised-button (click)="openEquipmentPopup()">Choose Skills</button>
    </mat-dialog-actions>
</div>