th{
    border-style: solid;
    border-width: 2px;
    padding: 5px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #ffd59a;
}
tr{
    background-color: #ffd59a;
}
td{
    border-style: solid;
    border-width: 2px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    
}
table tr.active td{  
    background-color:#ffff99;
}
.hoverTable tr:hover{
    /* background-color:#dbdb88;   */
    background-color: #d3af7d;
}   