<div class="row pt-3">
    <h2>Equipment</h2>
</div>


<!-- Money -->
<div class="row pt-4 pb-4">
    <div class="col-auto">
        <h4 class="d-inline">PP</h4>
        <div class="Tab d-inline">
            XX
        </div>
    </div>
    <div class="col-auto">
        <h4 class="d-inline">GP</h4>
        <div class="Tab d-inline">
            XX
        </div>
    </div>
    <div class="col-auto">
        <h4 class="d-inline">EP</h4>
        <div class="Tab d-inline">
            XX
        </div>
    </div>
    <div class="col-auto">
        <h4 class="d-inline">SP</h4>
        <div class="Tab d-inline">
            XX
        </div>
    </div>
    <div class="col-auto">
        <h4 class="d-inline">CP</h4>
        <div class="Tab d-inline">
            XX
        </div>
    </div>
</div>


<!-- Items -->
<div class="row pt-3">
    <div class="col">
        <h5>Armor</h5>
        <ul>
            <li>Example</li>
            <li>Example</li>
            <li>Example</li>
        </ul>
    </div>
    <div class="col">
        <h5>Weapons</h5>
        <ul>
            <li>Example</li>
            <li>Example</li>
            <li>Example</li>
        </ul>
    </div>
    <div class="col">
        <h5>Packs</h5>
        <ul>
            <li>Example</li>
            <li>Example</li>
            <li>Example</li>
        </ul>
    </div>
    
</div>

<div class="row p-2">
    <div class="col">
        <h5>Languages</h5>
        <ul>
            <li>Example</li>
            <li>Example</li>
            <li>Example</li>
        </ul>
    </div>
    <div class="col">
        <h5>Other</h5>
        <ul>
            <li>Example</li>
            <li>Example</li>
            <li>Example</li>
        </ul>
    </div>
    <div class="col">
        <!-- for alignment -->
    </div>
</div>



<!-- Proficiencies -->
<div class="row p-2">
    <div class="col">
        <h5>Armor Proficiencies</h5>
        <ul>
            <li>Example</li>
            <li>Example</li>
            <li>Example</li>
        </ul>
    </div>
    <div class="col">
        <h5>Weapon Proficiencies</h5>
        <ul>
            <li>Example</li>
            <li>Example</li>
            <li>Example</li>
        </ul>
    </div>
    <div class="col">
        <h5>Tool Proficiencies</h5>
        <ul>
            <li>Example</li>
            <li>Example</li>
            <li>Example</li>
        </ul>
    </div>
</div>



<!-- Character Traits -->
<div class="row p-2">
    <div class="col">
        <h5>Personality Traits</h5>
        <textarea></textarea>
    </div>
    <div class="col">
        <h5>Ideals</h5>
        <textarea></textarea>
    </div>
</div>

<div class="row p-2 separator">
    <div class="col">
        <h5>Bonds</h5>
        <textarea></textarea>
    </div>
    <div class="col">
        <h5>Flaws</h5>
        <textarea></textarea>
    </div>
</div>