<div class="row">
    <ul class="list-inline">
        <li class="list-inline-item"><h2><em>Character Name</em>  |  </h2></li>
        <li class="list-inline-item"><h3><strong>race: </strong> Elf |</h3></li>
        <li class="list-inline-item"><h3><strong>class: </strong> Ranger |</h3></li>
        <li class="list-inline-item"><h3><strong>level: </strong> 1 </h3></li>
    </ul>
</div>
<div class="row separator">
    <ul class="list-inline">
        <li class="list-inline-item"><h3><strong>xp: </strong> 0 |</h3></li>
        <li class="list-inline-item"><h3><strong>background: </strong> Woodsman |</h3></li>
        <li class="list-inline-item"><h3><strong>alignment: </strong> chaotic neutral </h3></li>
    </ul>
</div>
