<div class="row">
    <ul class="list-inline">
        <li class="list-inline-item"><h2><em>{{characterInfo.getName()}}</em>  |  </h2></li>
        <li class="list-inline-item"><h3><strong>race: </strong> {{characterInfo.getRace()}} |</h3></li>
        <li class="list-inline-item"><h3><strong>class: </strong> {{characterInfo.getRole()}} |</h3></li>
        <li class="list-inline-item"><h3><strong>level: </strong> {{characterInfo.getLevel()}} </h3></li>
    </ul>
</div>
<div class="row separator">
    <ul class="list-inline">
        <li class="list-inline-item"><h3><strong>xp: </strong> {{characterInfo.getXp()}} |</h3></li>
        <li class="list-inline-item"><h3><strong>background: </strong> {{characterInfo.getBackground()}} |</h3></li>
        <li class="list-inline-item"><h3><strong>alignment: </strong> {{characterInfo.getAlignment()}} </h3></li>
    </ul>
</div>
