<h1>Select an Armor to Equip</h1>
<hr>
<mat-dialog-content>
    <br>
    <table id="display-table" class="hoverTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Armor Class (AC)</th>
                <th>Strength Requirement</th>
                <th>Stealth Effect</th>
                <th>Weight</th>
                <th>Cost</th>
            </tr>
        </thead>

        <tbody>

            <tr><th>Light Armors</th><th></th><th></th><th></th><th></th><th></th></tr>

            <tr *ngFor="let armor of armorList.slice(1,4); let i = index;" (click)="selectLightArmor(armor, i)" [class.active] = "i == selectedLightRow">
                <td>{{armor.name}}</td>
                <td>{{armor.armorClass}} + Dex modifier</td>
                <td style="text-align: center;">{{armor.strengthRequirement}}</td>
                <!-- if weight is 1 pound, dont use lbs. -->
                <td *ngIf="armor.stealthDisadvantage">Disadvantage</td>
                <td *ngIf="!armor.stealthDisadvantage" style="text-align: center;">-</td>
                <td style="text-align: center;">{{armor.weight}} lbs.</td>
                <td>{{armor.cost}}</td>
            </tr>

            <tr><th>Medium Armors</th><th></th><th></th><th></th><th></th><th></th></tr>

            <tr *ngFor="let armor of armorList.slice(4,9); let i = index;" (click)="selectMediumArmor(armor, i)" [class.active] = "i == selectedMediumRow">
                <td>{{armor.name}}</td>
                <td>{{armor.armorClass}} + Dex modifier (max 2)</td>
                <td style="text-align: center;">{{armor.strengthRequirement}}</td>
                <!-- if weight is 1 pound, dont use lbs. -->
                <td *ngIf="armor.stealthDisadvantage">Disadvantage</td>
                <td *ngIf="!armor.stealthDisadvantage" style="text-align: center;">-</td>
                <td style="text-align: center;">{{armor.weight}} lbs.</td>
                <td>{{armor.cost}}</td>
            </tr>

            <tr><th>Heavy Armors</th><th></th><th></th><th></th><th></th><th></th></tr>

            <tr *ngFor="let armor of armorList.slice(9,13); let i = index;" (click)="selectHeavyArmor(armor, i)" [class.active] = "i == selectedHeavyRow">
                <td>{{armor.name}}</td>
                <td>{{armor.armorClass}}</td>
                <td style="text-align: center;">{{armor.strengthRequirement}}</td>
                <td *ngIf="armor.stealthDisadvantage">Disadvantage</td>
                <td *ngIf="!armor.stealthDisadvantage" style="text-align: center;">-</td>
                <td style="text-align: center;">{{armor.weight}} lbs.</td>
                <td>{{armor.cost}}</td>
            </tr>

            <tr><th>Shields</th><th></th><th></th><th></th><th></th><th></th></tr>

            <tr *ngFor="let armor of armorList.slice(13,15); let i = index;" (click)="selectShieldArmor(armor, i)" [class.active] = "i == selectedOtherRow">
                <td>{{armor.name}}</td>
                <td>{{armor.armorClass}}</td>
                <td style="text-align: center;">{{armor.strengthRequirement}}</td>
                <!-- if weight is 1 pound, dont use lbs. -->
                <td *ngIf="armor.stealthDisadvantage">Disadvantage</td>
                <td *ngIf="!armor.stealthDisadvantage"style="text-align: center;">-</td>
                <td style="text-align: center;">{{armor.weight}} lbs.</td>
                <td>{{armor.cost}}</td>
            </tr>

        </tbody>

    </table>
</mat-dialog-content>

<hr>

<mat-dialog-actions>
    <button (click)="addArmor()">Add Armor</button>
</mat-dialog-actions>