<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

</head>

<body>
  <!-- Popup Tutorial -->
  <mat-card class="card1">
    <mat-card-header>
      <mat-card-title><h1>HELLO!</h1></mat-card-title>
    </mat-card-header>
    <hr>
    <mat-card-content>
      <button mat-raised-button (click)="openDialog()">Open Dialog</button>
      <hr>
      <strong>Result: {{dialogResult}}</strong>
    </mat-card-content>
  </mat-card>
  <!-- End Popup Tutorial -->

  <!-- <app-home-page></app-home-page> -->
  <app-character-sheet></app-character-sheet>
</body>

</html>