<div class="row pt-3 pl-5">
    <p style="font-size:x-large">Proficiency bonus: +{{characterInfo.getProficiencyBonus()}}</p>
</div>
<!-- 1st half -->
<!-- headers -->
<div class="row pt-4">

    <!-- Strength -->
    <div class="col d-flex justify-content-center">
        <div class="skillTab">
            <h3>STR</h3>
            <h5>{{characterInfo.getStrength()}}</h5>
        </div>
    </div>

    <!-- Dexterity -->
    <div class="col d-flex justify-content-center">
        <div class="skillTab">
            <h3>DEX</h3>
            <h5>{{characterInfo.getDexterity()}}</h5>
        </div>
    </div>

    <!-- Constitution -->
    <div class="col d-flex justify-content-center">
        <div class="skillTab">
            <h3>CON</h3>
            <h5>{{characterInfo.getConstitution()}}</h5>
        </div>
    </div>

</div>

<!-- skill lists -->
<div class="row">
    <!-- Strength Skills -->
    <div class="col">
        <ul class="list-group skillBorder">
            <li class="list-group-item list-group-item-primary"><span style="float: left;">Saving Throw:
                </span><span style="float: right;">{{getSaveBonus("Strength")}}</span></li>
            <li class="list-group-item"><span style="float: left;">Athletics: </span> <span
                    style="float: right;">{{getSkillBonus("Strength", "Athletics")}}</span></li>
        </ul>
    </div>
    <!-- Dexterity Skills -->
    <div class="col">
        <ul class="list-group skillBorder">
            <li class="list-group-item list-group-item-primary"><span style="float: left;">Saving Throw:
                </span><span style="float: right;">{{getSaveBonus("Dexterity")}}</span></li>
            <li class="list-group-item"><span style="float: left;">Acrobatics: </span><span
                    style="float: right;">{{getSkillBonus("Dexterity", "Acrobatics")}}</span></li>
            <li class="list-group-item"><span style="float: left;">Sleight of Hand: </span><span
                    style="float: right;">{{getSkillBonus("Dexterity", "Sleight of Hand")}}</span></li>
            <li class="list-group-item"><span style="float: left;">Stealth: </span><span style="float: right;">{{this.getSkillBonus("Dexterity", "Stealth")}}</span>
            </li>
        </ul>
    </div>
    <!-- Constitution Skills -->
    <div class="col">
        <ul class="list-group skillBorder">
            <li class="list-group-item list-group-item-primary"><span style="float: left;">Saving Throw:
                </span><span style="float: right;">{{getSaveBonus("Constitution")}}</span></li>
        </ul>
    </div>
</div>



<!-- 2nd half of skills -->
<!-- headers -->
<div class="row pt-4">
    <!-- Intelligence -->
    <div class="col d-flex justify-content-center">
        <div class="skillTab">
            <h3>INT</h3>
            <h5>{{characterInfo.getIntelligence()}}</h5>
        </div>
    </div>

    <!-- Wisdom -->
    <div class="col d-flex justify-content-center">
        <div class="skillTab">
            <h3>WIS</h3>
            <h5>{{characterInfo.getWisdom()}}</h5>
        </div>
    </div>

    <!-- Charisma -->
    <div class="col d-flex justify-content-center">
        <div class="skillTab">
            <h3>CHA</h3>
            <h5>{{characterInfo.getCharisma()}}</h5>
        </div>
    </div>

</div>

<!-- skill lists -->
<div class="row pb-4 separator">
    <!-- Intelligence Skills -->
    <div class="col">
        <ul class="list-group skillBorder">
            <li class="list-group-item list-group-item-primary"><span style="float: left;">Saving Throw:
                </span><span style="float: right;">{{getSaveBonus("Intelligence")}}</span></li>
            <li class="list-group-item"><span style="float: left;">Arcana: </span> <span style="float: right;">{{getSkillBonus("Intelligence", "Arcana")}}</span>
            </li>
            <li class="list-group-item"><span style="float: left;">History: </span> <span
                    style="float: right;">{{getSkillBonus("Intelligence", "History")}}</span></li>
            <li class="list-group-item"><span style="float: left;">Investigation: </span> <span
                    style="float: right;">{{getSkillBonus("Intelligence", "Investigation")}}</span></li>
            <li class="list-group-item"><span style="float: left;">Nature: </span> <span style="float: right;">{{getSkillBonus("Intelligence", "Nature")}}</span>
            </li>
            <li class="list-group-item"><span style="float: left;">Religion: </span> <span
                    style="float: right;">{{getSkillBonus("Intelligence", "Religion")}}</span></li>
        </ul>
    </div>
    <!-- Wisdom Skills -->
    <div class="col">
        <ul class="list-group skillBorder">
            <li class="list-group-item list-group-item-primary"><span style="float: left;">Saving Throw:
                </span><span style="float: right;">{{getSaveBonus("Wisdom")}}</span></li>
            <li class="list-group-item"><span style="float: left;">Animal Handling: </span><span
                    style="float: right;">{{getSkillBonus("Wisdom", "Animal Handling")}}</span></li>
            <li class="list-group-item"><span style="float: left;">Insight: </span><span style="float: right;">{{getSkillBonus("Wisdom", "Insight")}}</span>
            </li>
            <li class="list-group-item"><span style="float: left;">Medicine: </span><span
                    style="float: right;">{{getSkillBonus("Wisdom", "Medicine")}}</span></li>
            <li class="list-group-item"><span style="float: left;">Perception: </span> <span
                    style="float: right;">{{getSkillBonus("Wisdom", "Perception")}}</span></li>
            <li class="list-group-item"><span style="float: left;">Survival: </span> <span
                    style="float: right;">{{getSkillBonus("Wisdom", "Survival")}}</span></li>
        </ul>
    </div>
    <!-- Charisma Skills -->
    <div class="col">
        <ul class="list-group skillBorder">
            <li class="list-group-item list-group-item-primary"><span style="float: left;">Saving Throw:
                </span><span style="float: right;">{{getSaveBonus("Charisma")}}</span></li>
            <li class="list-group-item"><span style="float: left;">Deception: </span> <span
                    style="float: right;">{{getSkillBonus("Charisma", "Deception")}}</span></li>
            <li class="list-group-item"><span style="float: left;">Intimidation: </span> <span
                    style="float: right;">{{getSkillBonus("Charisma", "Intimidation")}}</span></li>
            <li class="list-group-item"><span style="float: left;">Performance: </span> <span
                    style="float: right;">{{getSkillBonus("Charisma", "Performance")}}</span></li>
            <li class="list-group-item"><span style="float: left;">Persuasion: </span> <span
                    style="float: right;">{{getSkillBonus("Charisma", "Persuasion")}}</span></li>
        </ul>
    </div>
</div>