.bg{
    background-color: #ffd59a;
    height: auto;
}

.card{
    width: 40%;
    align-content: center;
    margin: auto;

}

p{
    text-indent: 25px;
}

a:hover{
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}