<div class="bg">
    <!-- bordered "sheet" -->
    <div class="container-fluid w-75 sheet">
        <app-header></app-header>
        <app-vitals></app-vitals>
        <app-skills></app-skills>
        <app-weapons></app-weapons>
        <!-- Might want the other categories seperate/before from spell lists -->
        <app-equipment></app-equipment>
        <app-racial-traits></app-racial-traits>
        <app-spells></app-spells>
        <app-class-traits></app-class-traits>
      </div>
</div>
    
  