<div class="row pt-3">
    <h2>Equipment</h2>
</div>


<!-- Money -->
<div class="row pt-4 pb-4">

        <h4 class="d-inline">PP</h4>
        <div class="Tab d-inline">
            {{characterInfo.getPlatinum()}}
        </div>

        <h4 class="d-inline">GP</h4>
        <div class="Tab d-inline">
            {{characterInfo.getGold()}}
        </div>

        <h4 class="d-inline">EP</h4>
        <div class="Tab d-inline">
            {{characterInfo.getElectrum()}}
        </div>

        <h4 class="d-inline">SP</h4>
        <div class="Tab d-inline">
            {{characterInfo.getSilver()}}
        </div>

        <h4 class="d-inline">CP</h4>
        <div class="Tab d-inline">
            {{characterInfo.getCopper()}}
        </div>

</div>


<!-- Items -->
<div class="row pt-3 list">
    <div class="col">
        <h5>Armor</h5>
        <ul *ngFor="let armor of characterInfo.getArmors()">
            <li>{{armor.name}}</li>
        </ul>
        <p>+add</p>
    </div>
    <div class="col">
        <h5>Weapons</h5>
        <ul *ngFor="let weapon of characterInfo.getWeapons()">
            <li>{{weapon.name}}</li>
        </ul>
        <p>+add</p>
    </div>
    <div class="col">
        <h5>Packs</h5>
        <ul *ngFor="let pack of characterInfo.getPacks()">
            <li>{{pack}}</li>
        </ul>
        <p>+add</p>
    </div>
</div>

<div class="row list">
    <div class="col">
        <h5>Languages</h5>
        <ul *ngFor="let language of characterInfo.getLanguages()">
            <li>{{language}}</li>
        </ul>
        <p>+add</p>
    </div>
    <div class="col">
        <h5>Other</h5>
        <ul *ngFor="let other of characterInfo.getOthers()">
            <li>Example</li>
        </ul>
        <p>+add</p>
    </div>
    <div class="col">
        <!-- for alignment (template wise, not the character property) -->
    </div>
</div>



<!-- Proficiencies -->
<div class="row list">
    <div class="col">
        <h5>Armor Proficiencies</h5>
        <ul *ngFor="let armorProf of characterInfo.getArmorProfs()">
            <li>{{armorProf}}</li>
        </ul>
        <p>+add</p> 
    </div>
    <div class="col">
        <h5>Weapon Proficiencies</h5>
        <ul *ngFor="let weaponProf of characterInfo.getWeaponProfs()">
            <li>{{weaponProf}}</li>
        </ul>
        <p>+add</p>
    </div>
    <div class="col">
        <h5>Tool Proficiencies</h5>
        <ul *ngFor="let toolProf of characterInfo.getToolProfs()">
            <li>{{toolProf}}</li>
        </ul>
        <p>+add</p>
    </div>
</div>



<!-- Character Traits -->
<div class="row p-2">
    <div class="col">
        <h5>Personality Traits</h5>
        <textarea>{{characterInfo.getPersonalityTraits()}}</textarea>
    </div>
    <div class="col">
        <h5>Ideals</h5>
        <textarea>{{characterInfo.getIdeals()}}</textarea>
    </div>
</div>

<div class="row p-2 separator">
    <div class="col">
        <h5>Bonds</h5>
        <textarea>{{characterInfo.getBonds()}}</textarea>
    </div>
    <div class="col">
        <h5>Flaws</h5>
        <textarea>{{characterInfo.getFlaws()}}</textarea>
    </div>
</div>