div{
    background-color: #ffb347;
    padding: 20px;
}
.separator{
    border-bottom-style: solid;
    border-width: 4px;
}
h2{
    margin-left: 18px;
    text-decoration: underline;
}
ul{
    font-size: x-large;
}
img{
    /* border-style: solid;
    border-width: 2px; */
    max-width: 100%;
    height: auto;
}
li{
    font-size: smaller;
}