<div class="row separator">
    <div class="col-8">
        <h2>Racial Traits</h2>
        <ul *ngFor="let trait of raceInfo.traits">
            <li>
                <strong>{{trait.header}}:</strong>
                {{trait.description}}
            </li>
        </ul>
    </div>

    <div class="col-4">
        <img src={{raceInfo.raceImageUrl}} alt="Picture of Character Specific Race">
        <ul>
            <li>
                <strong>Age:</strong>
                {{raceInfo.age}}
            </li>
            <li>
                <strong>Size:</strong>
                {{raceInfo.size}}
            </li>
            <li>
                <strong>Speed:</strong>
                {{raceInfo.speed}} ft.
            </li>
        </ul>
    </div>
</div>