
<!-- Header Row -->
<div class="row p-0 bottomLine">
    <div class="col cell">
        <h2>Weapon Name</h2>
    </div>
    <div class="midCell">
        <h2>Attack Bonus</h2>
    </div>
    <div class="col-3 cell">
        <h2>Damage</h2>
    </div>
</div>


<!-- Weapons List -->
<!-- Will need to *ngFor this row for the amount of added items -->
    <div class="row p-0 bottomLine" *ngFor="let weapon of characterInfo.getWeapons(); let indexOfelement=index">
        <div class="col cell" style="padding-left: 20px;" >
            <span style="font-size: larger;">{{weapon.name}}</span>
            <br>
            <a (click)="removeWeapon(indexOfelement)">remove</a> 
        </div>
        <div class="midCell">
            <span style="float: right;" *ngIf="characterInfo.getAttackBonuses()[indexOfelement]<0"> {{characterInfo.getAttackBonuses()[indexOfelement]}}</span>
            <span style="float: right;" *ngIf="characterInfo.getAttackBonuses()[indexOfelement]>0">+ {{characterInfo.getAttackBonuses()[indexOfelement]}}</span>
            <span style="float: right;" *ngIf="characterInfo.getAttackBonuses()[indexOfelement]==0">+ {{characterInfo.getAttackBonuses()[indexOfelement]}}</span>
        </div>
        <div class="col-3 cell">
            <!-- Print based upon dice count -->
            <div *ngIf="weapon.damageDie.length == 1">
                <p *ngIf="characterInfo.getDamageBonuses()[indexOfelement]<0">1 d{{weapon.damageDie[0]}} {{characterInfo.getDamageBonuses()[indexOfelement]}}, {{weapon.damageType}}</p>
                <p *ngIf="characterInfo.getDamageBonuses()[indexOfelement]>0">1 d{{weapon.damageDie[0]}} + {{characterInfo.getDamageBonuses()[indexOfelement]}}, {{weapon.damageType}}</p>
                <p *ngIf="characterInfo.getDamageBonuses()[indexOfelement]==0">1 d{{weapon.damageDie[0]}} + {{characterInfo.getDamageBonuses()[indexOfelement]}}, {{weapon.damageType}}</p>
            </div>
            <div *ngIf="weapon.damageDie.length == 2">
                <p *ngIf="characterInfo.getDamageBonuses()[indexOfelement]<0">2 d{{weapon.damageDie[0]}} {{characterInfo.getDamageBonuses()[indexOfelement]}}, {{weapon.damageType}}</p>
                <p *ngIf="characterInfo.getDamageBonuses()[indexOfelement]>0">2 d{{weapon.damageDie[0]}} + {{characterInfo.getDamageBonuses()[indexOfelement]}}, {{weapon.damageType}}</p>
                <p *ngIf="characterInfo.getDamageBonuses()[indexOfelement]===0">2 d{{weapon.damageDie[0]}} + {{characterInfo.getDamageBonuses()[indexOfelement]}}, {{weapon.damageType}}</p>
            </div>
            <!-- <span>DX + X | Type</span>  (TEMPLATE) -->
        </div>
    </div>



<!-- Button to Add Weapon -->
<div class="row p-3 separator">
    <button (click)="equipWeapon()">Equip Weapon</button>
</div>