<div class="row bottomLine">
    <div class="col-auto pt-4">
        <h2>[Class] Spells</h2>
    </div>

    <div class="col-auto">
        
        <div class="Tab">
            INT
        </div>
        Spellcasting Ability
    </div>

    <div class="col-auto">
        <div class="Tab">
            XX
        </div>
        Spell Save DC
    </div>
    
    <div class="col-auto">
        <div class="Tab">
            + X
        </div>
        Attack Bonus
    </div>
    
</div>


<div class="row separator">
    <div class="col levelList">
        <!-- cantrips -->
        <h4>Cantrips | Slots: X</h4>
        <ul class="list-group">
            <li class="list-group-item">Spell 1</li>
            <li class="list-group-item">Spell 2</li>
            <li class="list-group-item">Spell 3</li>
            <a href="">+ Add a Spell</a>
        </ul>
        <!-- lvl 1 -->
        <h4>Level 1 | Slots: X</h4>
        <ul class="list-group">
            <li class="list-group-item">Spell 1</li>
            <li class="list-group-item">Spell 2</li>
            <li class="list-group-item">Spell 3</li>
            <a href="">+ Add a Spell</a>
        </ul>
        <!-- lvl 2 -->
        <h4>Level 2 | Slots: X</h4>
        <ul class="list-group">
            <li class="list-group-item">Spell 1</li>
            <li class="list-group-item">Spell 2</li>
            <li class="list-group-item">Spell 3</li>
            <a href="">+ Add a Spell</a>
        </ul>
    </div>
    <div class="col levelList">
        <!-- lvl 3 -->
        <h4>Level 3 | Slots: X</h4>
        <ul class="list-group">
            <li class="list-group-item">Spell 1</li>
            <li class="list-group-item">Spell 2</li>
            <li class="list-group-item">Spell 3</li>
            <a href="">+ Add a Spell</a>
        </ul>
        <!-- lvl 4 -->
        <h4>Level 4 | Slots: X</h4>
        <ul class="list-group">
            <li class="list-group-item">Spell 1</li>
            <li class="list-group-item">Spell 2</li>
            <li class="list-group-item">Spell 3</li>
            <a href="">+ Add a Spell</a>
        </ul>
        <!-- lvl 5 -->
        <h4>Level 5 | Slots: X</h4>
        <ul class="list-group">
            <li class="list-group-item">Spell 1</li>
            <li class="list-group-item">Spell 2</li>
            <li class="list-group-item">Spell 3</li>
            <a href="">+ Add a Spell</a>
        </ul>
    </div>
    <div class="col levelList">
        <!-- lvl 6 -->
        <h4>Level 6 | Slots: X</h4>
        <ul class="list-group">
            <li class="list-group-item">Spell 1</li>
            <li class="list-group-item">Spell 2</li>
            <li class="list-group-item">Spell 3</li>
            <a href="">+ Add a Spell</a>
        </ul>
        <!-- lvl 7 -->
        <h4>Level 7 | Slots: X</h4>
        <ul class="list-group">
            <li class="list-group-item">Spell 1</li>
            <li class="list-group-item">Spell 2</li>
            <li class="list-group-item">Spell 3</li>
            <a href="">+ Add a Spell</a>
        </ul>
        <!-- lvl 8 -->
        <h4>Level 8 | Slots: X</h4>
        <ul class="list-group">
            <li class="list-group-item">Spell 1</li>
            <li class="list-group-item">Spell 2</li>
            <li class="list-group-item">Spell 3</li>
            <a href="">+ Add a Spell</a>
        </ul>
        <!-- lvl 9 -->
        <h4>Level 9 | Slots: X</h4>
        <ul class="list-group">
            <li class="list-group-item">Spell 1</li>
            <li class="list-group-item">Spell 2</li>
            <li class="list-group-item">Spell 3</li>
            <a href="">+ Add a Spell</a>
        </ul>
    </div>
</div>