<div class="row bottomLine">
    <div class="col-auto pt-4">
        <h2>{{characterInfo.getRole()}} Spells</h2>
    </div>

    <div class="col-auto">

        <div class="Tab">
            {{characterInfo.getSpellcastingAbility()}}
        </div>
        Spellcasting Ability
    </div>

    <div class="col-auto">
        <div class="Tab">
            {{characterInfo.getSpellSaveDC()}}
        </div>
        Spell Save DC
    </div>

    <div class="col-auto">
        <div class="Tab">
            + {{characterInfo.getSpellAttackBonus()}}
        </div>
        Spell Attack Bonus
    </div>

</div>

<div class="row">
    <h3>Spells Known: {{characterInfo.getSpellTable()[characterInfo.getLevel()-1][1]}}</h3>
    <h3>Cantrips Known: {{characterInfo.getSpellTable()[characterInfo.getLevel()-1][0]}}</h3>
</div>

<div class="row separator">
    <div class="col levelList">
        <!-- cantrips -->
        <!-- First index would be level, so just get level - 1, and second index is level of spell -->
        <div *ngIf="characterInfo.getSpellTable()[characterInfo.getLevel()-1][1] != null">
            <h4>Cantrips</h4>
            <ul class="list-group" *ngFor="let spell of spells[0]">
                <li class="list-group-item"><a (click)="openSpellDetail(spell)">{{spell.name}}</a></li>
            </ul>
            <a (click)="addSpell(0)">+ Add a Spell</a>
        </div>

        <!-- lvl 1 -->
        <div *ngIf="characterInfo.getSpellTable()[characterInfo.getLevel()-1][2] != null">
            <h4>Level 1 | Slots:
                {{characterInfo.getSpellTable()[characterInfo.getLevel()-1][2]}}</h4>
                <div *ngIf="characterInfo.getSpellTable()[characterInfo.getLevel()-1][2] != 0">
                    Slots used: <input type="number" id="slots1" value="{{characterInfo.getSlots1()}}" placeholder="{{characterInfo.getSlots1()}}" (change)="changeSlots1()" [(ngModel)]="slots1">
                </div>
            
            <ul class="list-group" *ngFor="let spell of spells[1]">
                <li class="list-group-item"><a (click)="openSpellDetail(spell)">{{spell.name}}</a></li>
            </ul>
            <a (click)="addSpell(1)">+ Add a Spell</a>
        </div>

        <!-- lvl 2 -->
        <div *ngIf="characterInfo.getSpellTable()[characterInfo.getLevel()-1][3] != null">
            <h4>Level 2 | Slots:
                {{characterInfo.getSpellTable()[characterInfo.getLevel()-1][3]}}</h4>
                <div *ngIf="characterInfo.getSpellTable()[characterInfo.getLevel()-1][3] != 0">
                    Slots used: <input type="number" id="slots2" value="{{characterInfo.getSlots2()}}" placeholder="{{characterInfo.getSlots2()}}" (change)="changeSlots2()" [(ngModel)]="slots2">
                </div>
            <ul class="list-group" *ngFor="let spell of spells[2]">
                <li class="list-group-item"><a (click)="openSpellDetail(spell)">{{spell.name}}</a></li>
            </ul>
            <a (click)="addSpell(2)">+ Add a Spell</a>
        </div>
    </div>

    <div class="col levelList">

        <!-- lvl 3 -->
        <div *ngIf="characterInfo.getSpellTable()[characterInfo.getLevel()-1][4] != null">
            <h4>Level 3 | Slots:
                {{characterInfo.getSpellTable()[characterInfo.getLevel()-1][4]}}</h4>
                <div *ngIf="characterInfo.getSpellTable()[characterInfo.getLevel()-1][4] != 0">
                    Slots used: <input type="number" id="slots3" value="{{characterInfo.getSlots3()}}" placeholder="{{characterInfo.getSlots3()}}" (change)="changeSlots3()" [(ngModel)]="slots3">
                </div>
            <ul class="list-group" *ngFor="let spell of spells[3]">
                <li class="list-group-item"><a (click)="openSpellDetail(spell)">{{spell.name}}</a></li>
            </ul>
            <a (click)="addSpell(3)">+ Add a Spell</a>
        </div>

        <!-- lvl 4 -->
        <div *ngIf="characterInfo.getSpellTable()[characterInfo.getLevel()-1][5] != null">
            <h4>Level 4 | Slots:
                {{characterInfo.getSpellTable()[characterInfo.getLevel()-1][5]}}</h4>
                <div *ngIf="characterInfo.getSpellTable()[characterInfo.getLevel()-1][5] != 0">
                    Slots used: <input type="number" id="slots4" value="{{characterInfo.getSlots4()}}" placeholder="{{characterInfo.getSlots4()}}" (change)="changeSlots4()" [(ngModel)]="slots4">
                </div>
            <ul class="list-group" *ngFor="let spell of spells[4]">
                <li class="list-group-item"><a (click)="openSpellDetail(spell)">{{spell.name}}</a></li>
            </ul>
            <a (click)="addSpell(4)">+ Add a Spell</a>
        </div>

        <!-- lvl 5 -->
        <div *ngIf="characterInfo.getSpellTable()[characterInfo.getLevel()-1][6] != null">
            <h4>Level 5 | Slots:
                {{characterInfo.getSpellTable()[characterInfo.getLevel()-1][6]}}</h4>
                <div *ngIf="characterInfo.getSpellTable()[characterInfo.getLevel()-1][6] != 0">
                    Slots used: <input type="number" id="slots5" value="{{characterInfo.getSlots5()}}" placeholder="{{characterInfo.getSlots5()}}" (change)="changeSlots5()" [(ngModel)]="slots5">
                </div>
            <ul class="list-group" *ngFor="let spell of spells[5]">
                <li class="list-group-item"><a (click)="openSpellDetail(spell)">{{spell.name}}</a></li>
            </ul>
            <a (click)="addSpell(5)">+ Add a Spell</a>
        </div>
    </div>

    <div class="col levelList">

        <!-- lvl 6 -->
        <div *ngIf="characterInfo.getSpellTable()[characterInfo.getLevel()-1][7] != null">
            <h4>Level 6 | Slots:
                {{characterInfo.getSpellTable()[characterInfo.getLevel()-1][7]}}</h4>
                <div *ngIf="characterInfo.getSpellTable()[characterInfo.getLevel()-1][7] != 0">
                    Slots used: <input type="number" id="slots6" value="{{characterInfo.getSlots6()}}" placeholder="{{characterInfo.getSlots6()}}" (change)="changeSlots6()" [(ngModel)]="slots6">
                </div>
            <ul class="list-group" *ngFor="let spell of spells[6]">
                <li class="list-group-item"><a (click)="openSpellDetail(spell)">{{spell.name}}</a></li>
            </ul>
            <a (click)="addSpell(6)">+ Add a Spell</a>
        </div>

        <!-- lvl 7 -->
        <div *ngIf="characterInfo.getSpellTable()[characterInfo.getLevel()-1][8] != null">
            <h4>Level 7 | Slots:
                {{characterInfo.getSpellTable()[characterInfo.getLevel()-1][8]}}</h4>
                <div *ngIf="characterInfo.getSpellTable()[characterInfo.getLevel()-1][8] != 0">
                    Slots used: <input type="number" id="slots7" value="{{characterInfo.getSlots7()}}" placeholder="{{characterInfo.getSlots7()}}" (change)="changeSlots7()" [(ngModel)]="slots7">
                </div>
            <ul class="list-group" *ngFor="let spell of spells[7]">
                <li class="list-group-item"><a (click)="openSpellDetail(spell)">{{spell.name}}</a></li>
            </ul>
            <a (click)="addSpell(7)">+ Add a Spell</a>
        </div>

        <!-- lvl 8 -->
        <div *ngIf="characterInfo.getSpellTable()[characterInfo.getLevel()-1][9] != null">
            <h4>Level 8 | Slots:
                {{characterInfo.getSpellTable()[characterInfo.getLevel()-1][9]}}</h4>
                <div *ngIf="characterInfo.getSpellTable()[characterInfo.getLevel()-1][9] != 0">
                    Slots used: <input type="number" id="slots8" value="{{characterInfo.getSlots8()}}" placeholder="{{characterInfo.getSlots8()}}" (change)="changeSlots8()" [(ngModel)]="slots8">
                </div>
            <ul class="list-group" *ngFor="let spell of spells[8]">
                <li class="list-group-item"><a (click)="openSpellDetail(spell)">{{spell.name}}</a></li>
            </ul>
            <a (click)="addSpell(8)">+ Add a Spell</a>
        </div>

        <!-- lvl 9 -->
        <div *ngIf="characterInfo.getSpellTable()[characterInfo.getLevel()-1][10] != null">
            <h4>Level 9 | Slots:
                {{characterInfo.getSpellTable()[characterInfo.getLevel()-1][10]}}</h4>
                <div *ngIf="characterInfo.getSpellTable()[characterInfo.getLevel()-1][10] != 0">
                    Slots used: <input type="number" id="slots9" value="{{characterInfo.getSlots9()}}" placeholder="{{characterInfo.getSlots9()}}" (change)="changeSlots9()" [(ngModel)]="slots9">
                </div>
            <ul class="list-group" *ngFor="let spell of spells[9]">
                <li class="list-group-item"><a (click)="openSpellDetail(spell)">{{spell.name}}</a></li>
            </ul>
            <a (click)="addSpell(9)">+ Add a Spell</a>
        </div>
    </div>
    
</div>