div{
    background-color: #CDB7F6;
    padding: 10px;
    text-align: center;
    justify-content: center;
}
.bottomLine{
    border-bottom-style: solid;
    border-width: 2px;
}
.Tab{
    background-color: white;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: large;
    font-weight: bold;
}
.levelList{
    text-align: left;
}
h4{
    text-decoration: underline;
    text-align: center;
}
a{
    color: black;
    font-weight: bold;
    padding-left: 5px;
}
a:hover{
    color: blue;
    font-weight: bold;
    padding-left: 5px;
    cursor: pointer;
    text-decoration: underline;
}
.separator{
    border-bottom-style: solid;
    border-width: 4px;
}
h3{
    text-align: left;
    margin-right: 8% ;
    margin-top: 3%;
}
input{
    width: 20%;
    text-align: right;
}